.container__articles {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  color: white;
}

.articles__main {
  flex: 1 1 500px;
  max-width: 600px;
}

.articles__others {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 400px;
}