<header class="header">
  <div class="logo">ASTRO BLOG</div>
  <nav class="nav-links">
    <a routerLink="/">Início</a>
    <a routerLink="/noticias">Notícias</a>
    <a routerLink="/galeria">Galeria</a>
    <a href="https://www.linkedin.com/in/allancavalcante-dev/" target="_blank" rel="noopener noreferrer">
      Linkedin
    </a>
    <a href="https://github.com/allan141" target="_blank" rel="noopener noreferrer">
      Github
    </a>
  </nav>
</header>

<div class="container__menu-bar">
   
  </div>